{% extends 'menu.html' %}

{% block content %}

<div class="TUDO">

    <main class="container mt-5">

        <div class="row">

            <div class="col-md-5 offset-md-3">

                <form method="POST" class="card card-body">

                    {{ error }}

                    {% csrf_token %}

                    <h1 class="text-center">HerCode Cadastro</h1>

                    <div class="mb-3">
                        <label for="first_name" class="form-label">Nome</label>
                        <input type="text" name="first_name" class="form-control" id="first_name">
                    </div>

                    <div class="mb-3">
                        <label for="last_name" class="form-label">Sobrenome</label>
                        <input type="text" name="last_name" class="form-control" id="last_name">
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">Nome de Usuário</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>

                    <div class="mb-3">
                        <label for="password1" class="form-label">Senha</label>
                        <input type="password" name="password1" class="form-control" id="password1">
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmar Senha</label>
                        <input type="password" class="form-control" name="password2" id="password2">
                    </div>

                    <button type="submit" class="btn btn-primary">Cadastrar</button>

                </form>
            </div>

        </div>

    </main>        
</div>
{% endblock %}

<style>
    .TUDO {
        background-color: #2e0863;
        height: 100vh;
    }
    
</style>

